.house{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.house h1{
    color: white;
}
.house button{
    text-decoration: none;
    border: none;
    background-color: rgb(249,212,36);
    padding: 40px;
    width: 100%;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(0,26,73);
    border-radius:10px;
}
.box{
    text-decoration: none;
    margin-top: 200px;
}