.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}
.logo video{
    width: 100px;
    border-radius: 20px;
}
.right{
    display: flex;
    gap: 20px;
    text-decoration: none;
    padding-left: 40px;
}
.right h6{
    color: white;
    text-decoration: none;
    font-size: medium;
    font-weight: bolder;

}
